<div class="m-2">
  <div class="row">
    <div class="form-group col-6">
      <label>Informe a descrição:</label>
      <input type="text" class="form-control" #busca (keyup)="0">
    </div>
    <div class="form-group col-6">
      <label>Selecionar categoria:</label>
      <select class="form-control" (change)="0" #categoria>
        <option value="" selected>SELECIONE A CATEGORIA</option>
        <option value="INFORMATICA">Informática</option>
        <option value="VESTUARIO">Vestuário</option>
        <option value="ALIMENTACAO">Alimentação</option>
        <option value="HIGIENE">Higiene</option>
        <option value="CONSTRUCAO">Construção</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label>Buscar produtos por cliente:</label>
        <input type="text" class="form-control" #buscaCliente (keyup)="0">
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Código</th>
        <th>Descrição</th>
        <th>Unidade</th>
        <th>Preço</th>
        <th>Categoria</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of listaProdutos | subLista:busca.value | categoria:categoria.value | produtoCliente:buscaCliente.value">
        <td>{{ produto.codigo }}</td>
        <td>{{ produto.descricao | uppercase }}</td>
        <td>{{ produto.unidade | simbolo }}</td>
        <td>{{ produto.preco | currency:'BRL' }} -> {{ produto.preco | desconto:5 | currency:'BRL' }}</td>
        <td>{{ produto.categoria }}</td>
        <td>
          <a routerLink="/produtos/alteracao/{{ produto._id }}" class="btn btn-secondary">
            <i class="fas fa-edit"></i>
            Alterar
          </a>
          <a routerLink="/produtos/remocao/{{ produto._id }}" class="btn btn-danger ml-2">
            <i class="fas fa-trash"></i>
            Deletar
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
