.sidenav {
  width: 200px;
  background-color: orangered;
}

.sidenav a {
  color: #fff;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: #fff;
  margin-top: 64px;
}
